

/* Extra CSS */
.remark-slide-content h1 > h2 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 > h2 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 > h2 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 > h2 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 h2 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin-bottom: 5px;
  font-size: 55px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin-bottom: 5px;
  font-size: 55px;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin: 5px;
  font-size: 55px;
  color: black;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin: 5px;
  font-size: 55px;
  color: black;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin: 5px;
  font-size: 55px;
  color: black;
}


/* Extra CSS */
.remark-slide-content h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pull-left h1 h2 h3 {
  margin-top: 5px;
}
.h2nm {
  font-size: 45px;
  margin: 0px;
  color: black;
}
.h1sm {
  margin: 5px;
  font-size: 55px;
  color: black;
}
